@use 'form-controls';

:host {
  position: relative;
  display: block;
}

input {
  @include form-controls.text-input;
  padding-right: 2.75rem;
}

.visibility-toggle {
  @include form-controls.visibility-toggle;
}
